@font-face {
  font-family: 'Object Sans';
  src: url('../fonts/ObjectSans-Regular.woff') format('woff'),
	     url('../fonts/ObjectSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Object Sans';
  src: url('../fonts/ObjectSans-Heavy.woff') format('woff'),
	     url('../fonts/ObjectSans-Heavy.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'onyx_btregular';
  src: url('../fonts/onyx_bt_regular-webfont.woff2') format('woff2'),
       url('../fonts/onyx_bt_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}