@import url('./fonts.css');
@import url('./mian.css');

.container{
  overflow: hidden;
}

/* MAIN */

.main{
  background-color: black;
  color: white;
  font-weight: 400;
  height: 100vh;
  position: fixed;
  width: 100%;
  z-index: 50;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main::after{
  content: "";
  background: url('../img/omut_bg.gif') center no-repeat;
  background-size: contain;
  position: absolute;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.main.main-active{
  opacity: 0;
  animation: blur 2s ease 0s;
  z-index: -1;
  transition: all 2s ease;
}

@keyframes blur {
	0% {
		-webkit-filter: blur(50px);
		-moz-filter: blur(50px);
		-o-filter: blur(50px);
		-ms-filter: blur(50px);
	}
	100% {
		-webkit-filter: blur(0px);
		-moz-filter: blur(0px);
		-o-filter: blur(0px);
		-ms-filter: blur(0px);
	}
}

.play__btn{
  width: 36px;
}

.main__center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main__logo{
  max-width: 320px;
}

.main__subtitle{
  margin-top: 64px;
  font-size: 20px;
  font-weight: 400;
}

.main__footer{
  display: flex;
  justify-content: space-around;
  
}

.main__info{
  margin-bottom: 60px;
  text-transform: uppercase;
  font-size: 16px;
  color: white;
}

.main__col{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

@media (max-width: 800px){

  .main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .main::after{
    background-size: 100% 100%;
  }

  .main__center{
    padding-top: 0;
  }

  .main__logo{
    max-width: 240px;
  }

  .main__subtitle{
    margin-top: 24px;
  }

  .main__footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0;
    text-align: center;
  }

  .main__col{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }

  .main__info{
    font-size: 12px;
    margin-bottom: 25px;
  }

}
/* NAVIGATION */

.nav{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 140px 0 140px;
  width: 100%;
  z-index: 2;
}

.nav__logo{
  max-width: 50px;
  transition: all 3s;
  cursor: pointer;
}

.nav__logo:hover{
  transform: rotate(-360deg);
  transition: all 3s;
}

.nav__link{
  font-family: 'onyx_btregular';
  font-size: 36px;
  text-decoration: none;
  color: white;
  margin-left: 120px;
}

.nav__links_mob{
  display: none;
}

.nav__back{
  display: none;
}

.nav__contacts-hidden,.nav__about-hidden{
  display: none;
}
.nav__links_mob{
  display: none;
}

.nav__back-active{
  display: flex;
}

@media (max-width: 800px){
  .nav{
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px 20px 20px 20px;
  }

  .nav__logo{
    max-width: 30px;
  }

  .nav__contacts,.nav__about{
    display: none;
  }
  
  .nav__links_mob{
    display: flex;
  }

  .nav__link_mob{
    margin-left: 34px;
  }

  .nav__links_mob a{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav__links_mob-hidden{
    display: none;
  }
}

/* SCROLL */

.scroll__icon{
  position: fixed;
  bottom: 94px;
  padding-left: 25px;
  animation: shake 3s ease 0s infinite;
  -webkit-animation: shake 3s ease 0s infinite;
}

.scroll__icon-active{
  display: none;
}

@keyframes shake {
	100%,
	0% {
		-webkit-transform: translate(0%, 0%);
		transform: translate(0%, 0%);

		-webkit-filter: blur(0px);
		-moz-filter: blur(0px);
		-o-filter: blur(0px);
		-ms-filter: blur(0px);
	}
	50% {
		-webkit-transform: translate(2%, 2%);
		transform: translate(2%, 2%);

		-webkit-filter: blur(2.5px);
		-moz-filter: blur(2.5px);
		-o-filter: blur(2.5px);
		-ms-filter: blur(2.5px)
	}
}

.scroll__img{
  width: 21px;
}


@media (max-width: 800px){
  .scroll__icon{
    position: fixed;
    bottom: 2%;
    padding-left: 2%;
    animation: shake 3s ease 0s infinite;
    -webkit-animation: shake 3s ease 0s infinite;
  }
}


/* WORK ZERO */

.work__zero{
  background: url('../img/bg_9.png') left no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  background-color: black;
  position: relative;
}

.zero__blur{
  background: linear-gradient( to right,rgba(255, 255, 255, 0.1), rgb(0, 0, 0));
  backdrop-filter: blur(10px);
  height: 100%;
  padding: 50px 140px 0 84px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  position: relative;
  transform: translate(100%,0);
  transition: all 2s;
}


.zero__title{
  font-weight: 900;
  font-size: 70px;
  line-height: 50px;
  white-space: nowrap;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px white;
  position: relative;
}

.zero__subtitle{
  font-weight: 900;
  font-size: 70px;
  line-height: 50px;
  white-space: nowrap;
  position: relative;
  text-align: right;
}

.zero__text{
  font-size: 18px;
  margin-top: 40px;
  position: relative;
}

.zero__play{
  font-family: 'onyx_btregular';
  margin-top: 40px;
  font-size: 46px;
  text-decoration: none;
  color: white;
  cursor: pointer;
  position: relative;
  text-align: right;
  animation: shake 3s ease 0s infinite;
  -webkit-animation: shake 3s ease 0s infinite;
}

.zero__text_mob{
  display: none;
  position: relative;
}

.zero__subtitle_mob{
  display: none;
}

@media (max-width: 800px){
  .work__zero{
    background: url('../img/bg_9.png') no-repeat;
    background-size: cover;
    background-position: 20% top;
    flex-direction: column-reverse;
    overflow: hidden;
  }
  .zero__blur{
    background: linear-gradient( to bottom,rgba(255, 255, 255, 0.1), rgb(0, 0, 0) 35%);
    width: 100%;
    height: 50%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    color: white;
    transform: translate(0,100%);
  }

  .zero__title{
    font-size: 32px;
    margin-left: 0;
    line-height: 30px;
    width: 90%;
    text-align: center;
    -webkit-text-stroke: 1px white;
  }
  
  .zero__subtitle{
    display: none;
  }

  .zero__subtitle_mob{
    display: inline;
    font-size: 24px;
    width: 90%;
    text-align: center;
    line-height: 20px;
    margin-bottom: 5px;
    font-weight: 900;
  }

  .zero__text{
    display: none;
  }

  .zero__text_mob{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70%;
    font-size: 16px;
  }

  .zero__play{
    font-size: 36px;
    margin-top: -400px;
    width: 90%;
    text-align: right;
  }
}
/* WORK ONE */

.work__one{
  background: url('../img/bg_1.jpg') center no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  background-color: black;
  position: relative;
}

.one__blur{
  background: linear-gradient( to right,rgba(255, 255, 255, 0.1), rgb(0, 0, 0));
  backdrop-filter: blur(10px);
  height: 100%;
  padding: 0 140px 0 84px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  position: relative;
  transform: translate(100%,0);
  transition: all 2s;
}


.one__title{
  font-weight: 900;
  font-size: 70px;
  line-height: 30px;
  white-space: nowrap;
  margin-left: -245px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px white;
  position: relative;
}

.one__subtitle{
  font-weight: 900;
  font-size: 70px;
  margin-left: -30px;
  white-space: nowrap;
  position: relative;
}

.one__subtitle_text{
  margin-top: -20px;
  font-size: 24px;
  position: relative;
}

.one__text{
  font-size: 18px;
  margin-top: 40px;
  position: relative;
}

.one__play{
  font-family: 'onyx_btregular';
  margin-top: 40px;
  font-size: 46px;
  text-decoration: none;
  color: white;
  cursor: pointer;
  position: relative;
  animation: shake 3s ease 0s infinite;
  -webkit-animation: shake 3s ease 0s infinite;
}

.one__text_mob{
  display: none;
  position: relative;
}


@media (max-width: 800px){
  .work__one{
    background: url('../img/bg_1.jpg') no-repeat;
    background-size: cover;
    background-position: 20% top;
    flex-direction: column-reverse;
    overflow: hidden;
  }
  .one__blur{
    background: linear-gradient( to bottom,rgba(255, 255, 255, 0.1), rgb(0, 0, 0) 35%);
    width: 100%;
    height: 50%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    color: white;
    transform: translate(0,100%);
  }

  .one__title{
    font-size: 36px;
    margin-left: 0;
    line-height: 30px;
    text-align: left;
    -webkit-text-stroke: 1px white;
  }
  
  .one__subtitle{
    font-size: 30px;
    margin-left: 0;
    text-align: center;
    margin-bottom: 5px;
  }
  
  .one__subtitle_text{
    margin-top: -40px;
    font-size: 18px;
    text-align: left;
    margin-bottom: 32px;
    display: none;
  }
  
  .one__text{
    display: none;
  }

  .one__text_mob{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70%;
    font-size: 16px;
  }

  .one__play{
    font-size: 36px;
    margin-top: -400px;
    width: 90%;
    text-align: right;
  }
}


/* WORK TWO */

.work__two{
  background: url('../img/bg_2.jpg') center no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;
}

.two__blur{
  background: linear-gradient( to right,rgba(255, 255, 255, 0.1), rgb(0, 0, 0));
  backdrop-filter: blur(10px);
  height: 100%;
  padding: 0 65px 0 45px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  transform: translate(100%,0);
  opacity: 0;
  transition: all 2s;
}

.two__title{
  font-weight: 900;
  font-size: 70px;
  line-height: 60px;
  white-space: nowrap;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px white;
  position: relative;
}

.two__subtitle{
  font-weight: 900;
  font-size: 70px;
  line-height: 60px;
  white-space: nowrap;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.two__text{
  display: flex;
  justify-content: center;
  margin-top: 40px;
  font-size: 18px;
  position: relative;
}


.two__play{
  font-family: 'onyx_btregular';
  margin-top: 40px;
  font-size: 46px;
  text-decoration: none;
  color: white;
  cursor: pointer;
  position: relative;
  animation: shake 3s ease 0s infinite;
  -webkit-animation: shake 3s ease 0s infinite;
}

.two__text_mob{
  display: none;
  position: relative;
}

@media (max-width: 800px){
  .work__two{
    background: url('../img/bg_2.jpg') no-repeat;
    background-size: cover;
    background-position: 35%;
    flex-direction: column-reverse;
    overflow: hidden;
  }
  .two__blur{
    background: linear-gradient( to bottom,rgba(255, 255, 255, 0.1), rgb(0, 0, 0) 35%);
    width: 100%;
    height: 50%;
    padding: 20px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    color: white;
    transform: translate(0,100%);
  }

  .two__title{
    font-size: 36px;
    margin-left: 0;
    line-height: 30px;
    text-align: center;
    -webkit-text-stroke: 1px white;
  }
  
  .two__subtitle{
    font-size: 30px;
    margin-left: 0;
    text-align: center;
    line-height: 30px;
    margin-bottom: 5px;
  }
  
  .two__text{
    display: none;
  }

  .two__text_mob{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 60%;
    font-size: 16px;
  }

  .two__play{
    font-size: 36px;
    margin-top: -400px;
    width: 90%;
    text-align: right;
  }
}

/* WORK three */

.work__three{
  background: url('../img/bg_3.jpg') center no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
}

.three__blur{
  background: linear-gradient( to left,rgba(255, 255, 255, 0.1), rgb(0, 0, 0));
  backdrop-filter: blur(10px);
  height: 100%;
  padding: 0 60px 0 140px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  transform: translate(-100%,0);
  opacity: 0;
  transition: all 2s;
}

.three__title{
  font-weight: 900;
  font-size: 70px;
  line-height: 30px;
  white-space: nowrap;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px white;
  position: relative;
}

.three__subtitle{
  font-weight: 900;
  font-size: 70px;
  white-space: nowrap;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.three__subtitle_text{
  margin-top: -20px;
  margin-left: 144px;
  font-size: 24px;
  position: relative;
}

.three__text{
  display: flex;
  justify-content: flex-end;
  font-size: 18px;
  position: relative;
  margin-top: 40px;
}


.three__play{
  font-family: 'onyx_btregular';
  position: relative;
  margin-top: 40px;
  font-size: 46px;
  text-decoration: none;
  color: white;
  cursor: pointer;
  margin-left: auto;
  animation: shake 3s ease 0s infinite;
  -webkit-animation: shake 3s ease 0s infinite;
}

.three__text_mob{
  display: none;
  position: relative;
}

@media (max-width: 800px){
  .work__three{
    background: url('../img/bg_3.jpg') no-repeat;
    background-size: 250%;
    background-position: top;
    flex-direction: column-reverse;
    overflow: hidden;
    background-color: black;
  }
  .three__blur{
    background: linear-gradient( to bottom,rgba(255, 255, 255, 0.1), rgb(0, 0, 0) 30%);
    width: 100%;
    height: 50%;
    padding: 20px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    color: white;
    transform: translate(0,100%);
  }

  .three__title{
    font-size: 36px;
    margin-left: 0;
    line-height: 30px;
    text-align: center;
    -webkit-text-stroke: 1px white;
  }
  
  .three__subtitle{
    font-size: 30px;
    margin-left: 0;
    text-align: center;
    line-height: 30px;
    margin-bottom: 5px;
  }

  .three__subtitle_text{
    display: none;
  }
  
  .three__text{
    display: none;
  }

  .three__text_mob{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70%;
    font-size: 16px;
  }

  .three__play{
    font-size: 36px;
    margin: 0;
    margin-top: -400px;
    width: 90%;
    text-align: right;
  }
}


/* WORK FOUR */

.work__four{
  background: url('../img/bg_4.jpg') center no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;
}

.four__blur{
  background: linear-gradient( to right,rgba(255, 255, 255, 0.1), rgb(0, 0, 0));
  backdrop-filter: blur(10px);
  padding: 0 140px 0 140px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  transform: translate(100%,0);
  opacity: 0;
  transition: all 2s;  
}

.four__subtext{
  font-size: 18px;
  color: #FFFFFF;
  opacity: 0.31;
  margin-bottom: 50px;
  position: relative;  
}

.four__title{
  font-weight: 900;
  font-size: 70px;
  line-height: 30px;
  white-space: nowrap;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px white;
  position: relative;  
}

.four__subtitle{
  font-weight: 900;
  font-size: 70px;
  margin-left: -40px;
  white-space: nowrap;
  position: relative;  
  
}

.four__text{
  margin-left: -40px;
  font-size: 18px;
  margin-top: 30px;
  position: relative;  
}


.four__play{
  font-family: 'onyx_btregular';
  margin-top: 40px;
  font-size: 46px;
  text-decoration: none;
  color: white;
  cursor: pointer;
  position: relative; 
  animation: shake 3s ease 0s infinite;
  -webkit-animation: shake 3s ease 0s infinite;
}

.four__text_mob{
  display: none;
  position: relative;  
}

@media (max-width: 800px){
  .work__four{
    background: url('../img/bg_4.jpg') no-repeat;
    background-size: 250%;
    background-position: top;
    flex-direction: column-reverse;
    overflow: hidden;
    background-color: black;
  }
  .four__blur{
    background: linear-gradient( to bottom,rgba(255, 255, 255, 0.1), rgb(0, 0, 0) 35%);
    width: 100%;
    height: 50%;
    padding: 20px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    color: white;
    transform: translate(0,100%);
  }

  .four__subtext{
    display: none;
  }

  .four__title{
    font-size: 36px;
    margin-left: 0;
    line-height: 30px;
    text-align: center;
    -webkit-text-stroke: 1px white;
  }
  
  .four__subtitle{
    font-size: 30px;
    margin-left: 0;
    text-align: center;
    line-height: 30px;
    margin-bottom: 5px;
  }

  .four__subtitle_text{
    display: none;
  }
  
  .four__text{
    display: none;
  }

  .four__text_mob{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70%;
    font-size: 16px;
  }

  .four__play{
    font-size: 36px;
    margin-top: -400px;
    width: 90%;
    text-align: right;
  }
}

/* WORK FIVE */

.work__five{
  background: url('../img/bg_5.jpg') center no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;
}

.five__blur{
  background: linear-gradient( to right,rgba(255, 255, 255, 0.1), rgb(0, 0, 0));
  backdrop-filter: blur(10px);
  height: 100%;
  padding: 0 140px 0 28px;
  color: white;
  min-width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  transform: translate(100%,0);
  opacity: 0;
  transition: all 2s;
}

.five__title{
  font-weight: 900;
  font-size: 70px;
  line-height: 30px;
  white-space: nowrap;
  display: flex;
  justify-content: flex-end;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px white;
  position: relative;
}

.five__subtitle{
  font-weight: 900;
  font-size: 70px;
  text-align: center;
  line-height: 60px;
  white-space: nowrap;
  position: relative;
}

.five__text{
  font-size: 18px;
  margin-top: 40px;
  position: relative;
}


.five__play{
  font-family: 'onyx_btregular';
  margin-top: 40px;
  font-size: 46px;
  text-decoration: none;
  color: white;
  cursor: pointer;
  margin-left: auto;
  position: relative;
  animation: shake 3s ease 0s infinite;
  -webkit-animation: shake 3s ease 0s infinite;
}

.five__text_mob{
  display: none;
  position: relative;
}

@media (max-width: 800px){
  .work__five{
    background: url('../img/bg_5.jpg') no-repeat;
    background-size: cover;
    background-position: 35% ;
    flex-direction: column-reverse;
    overflow: hidden;
  }
  .five__blur{
    background: linear-gradient( to bottom,rgba(255, 255, 255, 0.1), rgb(0, 0, 0) 35%);
    width: 100%;
    height: 50%;
    padding: 20px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    color: white;
    transform: translate(0,100%);
  }

  .five__subtext{
    display: none;
  }

  .five__title{
    font-size: 36px;
    margin-left: 0;
    line-height: 30px;
    text-align: center;
    -webkit-text-stroke: 1px white;
    justify-content: flex-start;
  }
  
  .five__subtitle{
    font-size: 30px;
    margin-left: 0;
    text-align: center;
    line-height: 30px;
    margin-bottom: 5px;
  }

  .five__subtitle_text{
    display: none;
  }
  
  .five__text{
    display: none;
  }

  .five__text_mob{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70%;
    font-size: 16px;
  }

  .five__play{
    margin: 0;
    font-size: 36px;
    margin-top: -400px;
    width: 90%;
    text-align: right;
  }
}
/* WORK SIX */

.work__six{
  background: url('../img/bg_6.jpg') center no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
}

.six__blur{
  background: linear-gradient( to left,rgba(255, 255, 255, 0.1), rgb(0, 0, 0));
  backdrop-filter: blur(10px);
  position: relative;
  height: 100%;
  padding: 0 225px 0 140px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translate(-100%,0);
  opacity: 0;
  transition: all 2s;
}

.six__title{
  font-weight: 900;
  font-size: 70px;
  line-height: 30px;
  white-space: nowrap;
  display: flex;
  justify-content: flex-end;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px white;
  position: relative;
}

.six__subtitle{
  font-weight: 900;
  font-size: 70px;
  white-space: nowrap;
  position: relative;
}

.six__text{
  font-size: 18px;
  margin-top: 40px;
  display: flex;
  justify-content: flex-end;
  position: relative;
}


.six__play{
  font-family: 'onyx_btregular';
  margin-top: 40px;
  font-size: 46px;
  text-decoration: none;
  color: white;
  cursor: pointer;
  margin-left: auto;
  position: relative;
  animation: shake 3s ease 0s infinite;
  -webkit-animation: shake 3s ease 0s infinite;
}

.six__text_mob{
  display: none;
  position: relative;
}

@media (max-width: 800px){
  .work__six{
    background: url('../img/bg_6.jpg') no-repeat;
    background-size: 250%;
    background-position: top;
    flex-direction: column-reverse;
    overflow: hidden;
    background-color: black;
  }
  .six__blur{
    background: linear-gradient( to bottom,rgba(255, 255, 255, 0.1), rgb(0, 0, 0) 30%);
    width: 100%;
    height: 50%;
    padding: 20px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    color: white;
    transform: translate(0,100%);
  }

  .six__subtext{
    display: none;
  }

  .six__title{
    font-size: 36px;
    margin-left: 0;
    line-height: 30px;
    text-align: center;
    -webkit-text-stroke: 1px white;
  }
  
  .six__subtitle{
    font-size: 30px;
    margin-left: 0;
    text-align: center;
    line-height: 30px;
    margin-bottom: 5px;
  }

  .six__subtitle_text{
    display: none;
  }
  
  .six__text{
    display: none;
  }

  .six__text_mob{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70%;
    font-size: 16px;
  }

  .six__play{
    font-size: 36px;
    margin: 0;
    margin-top: -400px;
    width: 90%;
    text-align: right;
  }
}


/* WORK SEVEN */

.work__seven{
  background: url('../img/bg_7.jpg') center no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
}

.seven__blur{
  background: linear-gradient( to left,rgba(255, 255, 255, 0.1), rgb(0, 0, 0));
  backdrop-filter: blur(10px);
  position: relative;
  height: 100%;
  padding: 0 65px 0 140px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translate(-100%,0);
  opacity: 0;
  transition: all 2s;
}

.seven__title{
  font-weight: 900;
  font-size: 70px;
  line-height: 30px;
  white-space: nowrap;
  display: flex;
  justify-content: flex-end;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px white;
  position: relative;
}

.seven__subtitle{
  font-weight: 900;
  font-size: 70px;
  white-space: nowrap;
  line-height: 100px;
  position: relative;
}

.seven__text{
  font-size: 18px;
  margin-top: 40px;
  text-align: right;
  position: relative;
}


.seven__play{
  font-family: 'onyx_btregular';
  font-size: 46px;
  text-decoration: none;
  color: white;
  margin-top: 40px;
  cursor: pointer;
  position: relative;
  animation: shake 3s ease 0s infinite;
  -webkit-animation: shake 3s ease 0s infinite;
}

.seven__text_mob{
  display: none;
  position: relative;
}

@media (max-width: 800px){
  .work__seven{
    background: url('../img/bg_7.jpg') no-repeat;
    background-size: 250%;
    background-position: 80% top;
    flex-direction: column-reverse;
    overflow: hidden;
    background-color: black;
  }
  .seven__blur{
    background: linear-gradient( to bottom,rgba(255, 255, 255, 0.1), rgb(0, 0, 0) 30%);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 50%;
    padding: 20px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    color: white;
    transform: translate(0,100%);
  }

  .seven__subtext{
    display: none;
  }

  .seven__title{
    font-size: 36px;
    margin-left: 0;
    line-height: 30px;
    text-align: center;
    -webkit-text-stroke: 1px white;
  }
  
  .seven__subtitle{
    font-size: 30px;
    margin-left: 0;
    text-align: center;
    line-height: 30px;
    margin-bottom: 5px;
  }

  .seven__subtitle_text{
    display: none;
  }
  
  .seven__text{
    display: none;
  }

  .seven__text_mob{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70%;
    font-size: 16px;
  }

  .seven__play{
    font-size: 36px;
    margin-top: -400px;
    width: 90%;
    text-align: right;
  }
}

/* WORK EIGHT  */

.work__eight{
  background: url('../img/bg_8.jpg') center no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
}

.eight__blur{
  background: linear-gradient( to right,rgba(255, 255, 255, 0.1), rgb(0, 0, 0));
  backdrop-filter: blur(10px);
  position: relative;
  height: 100%;
  padding: 0 140px 0 100px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translate(100%,0);
  opacity: 0;
  transition: all 2s;
}

.eight__title{
  font-weight: 900;
  font-size: 70px;
  line-height: 30px;
  white-space: nowrap;
  text-align: center;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px white;
  position: relative;
}

.eight__subtitle{
  font-weight: 900;
  font-size: 70px;
  text-align: center;
  white-space: nowrap;
  position: relative;
}

.eight__text{
  font-size: 18px;
  margin-top: 40px;
  display: flex;
  justify-content: flex-end;
  position: relative;
}


.eight__play{
  font-family: 'onyx_btregular';
  font-size: 46px;
  text-decoration: none;
  color: white;
  margin-top: 40px;
  cursor: pointer;
  position: relative;
  animation: shake 3s ease 0s infinite;
  -webkit-animation: shake 3s ease 0s infinite;
}

.eight__text_mob{
  display: none;
  position: relative;
}

@media (max-width: 800px){
  .work__eight{
    background: url('../img/bg_8.jpg') no-repeat;
    background-size: 230%;
    background-position: 60% top;
    flex-direction: column-reverse;
    overflow: hidden;
    background-color: black;
    justify-content: flex-start;
  }
  .eight__blur{
    background: linear-gradient( to bottom,rgba(255, 255, 255, 0.1), rgb(0, 0, 0) 20%);
    width: 100%;
    height: 50%;
    padding: 20px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    color: white;
    transform: translate(0,100%);
  }

  .eight__subtext{
    display: none;
  }

  .eight__title{
    font-size: 36px;
    margin-left: 0;
    line-height: 30px;
    text-align: center;
    -webkit-text-stroke: 1px white;
    justify-content: initial;
  }
  
  .eight__subtitle{
    font-size: 30px;
    margin-left: 0;
    text-align: center;
    line-height: 30px;
    margin-bottom: 5px;
  }

  .eight__subtitle_text{
    display: none;
  }
  
  .eight__text{
    display: none;
  }

  .eight__text_mob{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70%;
    font-size: 16px;
  }

  .eight__play{
    font-size: 36px;
    margin-top: -400px;
    width: 90%;
    text-align: right;
  }
}

/* MENU */

.menu{
  background: black;
  color: white;
}

.menu-active{
  display: block;
}



.scroll__container-hidden{
  display: none;
}

.menu__title{
  display: flex;
  align-items: center;
  padding-top: 283px;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: center;
}

.menu__words_col{
  display: flex;
  flex-direction: column;
}

.menu__word_title{
  font-weight: 900;
  font-size: 72px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px white;
  line-height: 20px;
  text-align: center;
}

.menu__word_subtitle{
  font-weight: 900;
  font-size: 72px;
  text-align: right;
}

.menu__word_subtitle.top{
  margin-left: 0;
  margin-bottom: 40px;
  text-align: left;
}

.menu__word_title.right{
  text-align: center;
}

.menu__word_subtitle.bottom{
  text-align: center;
  margin-right: 200px;
}

.menu__subtitle{
  color: #FFFFFF;
  opacity: 0.23;
  font-size: 24px;
  text-align: center;
}

.menu__list{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 150px;
  width: 100%;
  margin-bottom: 0;
  margin-bottom: 150px;
}

.menu__item{
  display: flex;
  text-align: center;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin: 100px 50px;
  position: relative;
}

.menu__item::after{
  position: absolute;
  top: 0;
  left: 0;
  font-family: 'onyx_btregular';
  opacity: 0.3;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 300px;
}
.menu__item.one::after{
  content: "01";
}

.menu__item.two::after{
  content: "02";
}
.menu__item.three::after{
  content: "03";
}

.menu__team{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 200px;
  flex-wrap: wrap;
}

.team__col{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.team__person{
  width: 30%;
  flex-wrap: wrap;
  text-align: center;
  margin-bottom: 73px;
}

.team__name{
  font-weight: 900;
  font-size: 60px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px white;
  line-height: 40px;
  text-align: left;
  margin-top: -70px;
}

.team__name.two{
  text-align: right;
}

.team__name.three{
  text-align: center;
}

.team__name.four{
  text-align: left;
}

.team__lastname{
    font-weight: 900;
    font-size: 60px;
    text-align: right;
}
.team__lastname.four{
  text-align: center;
}
.team__position{
  font-size: 30px;
  margin-bottom: 30px;
}

.team__text{
  font-size: 20px;
}

@media (max-width: 800px){
  .menu__word_subtitle{
    text-align: center;
  }
  .menu__word_subtitle.bottom{
    margin: 0;
  }
  .team__col{
    flex-direction: column;
    align-items: center;
  }
  .team__person{
    width: 80%;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .nav__links{
    margin-left: auto;
  }
  .nav__link{
    margin: 0;
  }
}

@media (max-width: 650px){
  .menu__word_title{
    font-size: 36px;
  }
  .menu__word_subtitle{
    font-size: 36px;
  }
  .menu__title{
    padding-top: 180px;
  }
  .menu__word_subtitle.top{
    margin-bottom: 15px;
  }
  .menu__subtitle{
    font-size: 18px;
    width: 80%;
    margin: 0 auto;
    margin-top: 15px;
  }
  .menu__list{
    margin-top: 100px;
  }
  .menu__item{
    font-size: 18px;
  }
  .team__name{
    font-size: 45px;
  }
  .team__lastname{
    font-size: 45px;
  }
  .team__position{
    font-size: 24px;
  }
  .team__text{
    font-size: 18px;
  }
  .menu__team{
    padding-bottom: 100px;
  }
  .team__photo{
    max-width: 100%;
  }
}


/* Scroll Animation */

.blur-active{
  transform: translate(0,0);
  opacity: 1;
}

@media (max-width: 1500px){
  .blur-active{
    width: initial;
  }
}

/* VIDEO */

.modal{
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: black;
  justify-content: center;
  align-items: center;
  transform: translate(100%,0);
  opacity: 0;
}

.left__modal{
  transform: translate(-100%,0);
}

.modal-active{
  transform: translate(0,0);
  opacity: 1;
  transition: all 2s;
}

.video{
  width: 100%;
  height: 70%;
  border: 0;
}

@media (max-width: 800px){
  .modal{
    transform: translate(0,100%);
  }
  
  .left__modal{
    transform: translate(0,100%);
  }  

  .modal-active{
    transform: translate(0,0);
    opacity: 1;
    transition: all 2s;
  }
}
